
.formTitle{
    margin-bottom: 1rem;

}
.formBody{
    margin-bottom: 1rem;

}
.formImage{
    margin-bottom: 1rem;

}
.titelInput{
    padding:5px; 
    width: 100%;
}
.bodyInput{
    padding:5px; 
    width: 100%;
}

