*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


body{
    background-color: white;
}

/*make a container with for articles*/
.container{
    width: min(50%, 70.5rem);
    max-width: 125rem;
    margin-inline: auto;
}

.title{
  text-align: center;
}



.navButt{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;

    
}
.navButt:hover{
    transform: translateY(-2px);
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.edit{
  color: black;
  box-shadow: 0 0 0 3px rgb(158, 228, 54) inset;
}

.delete{
  color: black;
  box-shadow: 0 0 0 3px red inset;
}
.postButt{
  padding: 7px 12px 8px;
  font-size: 14px;
  width: 5rem;
  
}
.editDiv{
  margin-bottom: 1rem;
}